.find__cars-left {
    background: linear-gradient(rgba(249, 168, 38, 0.9), rgba(249,168,38,0.9)), url('../Assets/all-images/slider-img/slider-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 65px 35px;
}

